* {
	font-family: sans-serif;
}

body {
	margin: 0;
	background-color: #eeeeee;
}

.material-card {
	height: 250px;
	width: 400px;
	margin: 10px auto;
	background-color: #fff;
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: 200ms ease;
	background-image: url(http://www.placehold.it/320x180/abcdef/ffffff);
	background-position: center;
	background-size: cover;
	position: relative;
}

.material-card:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transform: scale(1.02)
}

.material-card:hover .bottom-container {
	height: 120px;
}

.material-card>.bottom-container {
	height: 95px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
	transition: 200ms ease;
}

.material-card>.bottom-container>.text-container {
	padding: 10px;
}

.material-card>.bottom-container>.text-container>h1 {
	margin: 0;
}

.material-card>.bottom-container>.text-container>p {
	margin: 5px 0 0 0;
}

.material-card>a {
	height: 100%;
	width: 100%;
	position: absolute;
    z-index: 1;
}

.material-card>.bottom-container>.btn-container {
	height: 40px;
    border-top: 1px solid rgba(0,0,0,0.2);
    bottom: 0;
    position: absolute;
    width: 100%;
	background-color: #fff;
}

.material-card>.bottom-container>.btn-container>a {
	margin: 5px 7px;
    padding: 6px 10px;
	position: absolute;
	background-color: #fff;
	border-radius: 3px;
	text-decoration: none;
	color: #1a237e;
	font-weight: bolder;
	z-index: 2;
}

.material-card>.bottom-container>.btn-container>a:hover {
	background-color: #e0e0e0;
}

