---
title: Veranstaltungen
permalink: "/events/index.html"
layout: default
background_image: "/uploads/concert.jpg"
background_image_caption: ''
---

<h2 class="events-site-header">Bevorstehend</h2>


<div class="seperator"></div>

{% assign events = site.events | where:'state','upcoming' %}
{% assign sorted_events = (events | sort: 'start_date') | reverse %}
{% if events == null %}
<h4>Keine bevorstehenden Events</h4>
{% endif %}
{% for event in events %}

<h3 class="event-site-date">
    <a href="{{ event.url }}">
        {{ event.start_date | date:  "%d. %B %Y" | replace:"January","Jan." | replace:"Februar","Feb." | replace:"March","März" | replace:"April","Apr." | replace:"May","Mai" | replace:"June","Juni" | replace:"July","Juli" | replace:"August","Aug." | replace:"September","Sept." | replace:"October","Okt." | replace:"November","Nov." | replace:"December","Dez." }}
    </a>
</h3>

<p class="event-site-location">Live at {{ event.location }}</p>

<p class="event-site-time">Türöffnung: {{ event.start_date | date: "%R" }}</p>

{% endfor %}

<h2 class="events-site-header">Vergangen</h2>


<div class="seperator"></div>

{% assign events = site.events | where:'state','former' %}
{% assign sorted_events = (events | sort: 'start_date') | reverse %}
{% for event in sorted_events %}

<h3 class="event-site-date">
    <a href="{{ event.url }}">
        {{ event.start_date | date:  "%d. %B %Y" | replace:"January","Jan." | replace:"Februar","Feb." | replace:"March","März" | replace:"April","Apr." | replace:"May","Mai" | replace:"June","Juni" | replace:"July","Juli" | replace:"August","Aug." | replace:"September","Sept." | replace:"October","Okt." | replace:"November","Nov." | replace:"December","Dez." }}
    </a>
</h3>

<p class="event-site-location">Live at {{ event.location }}</p>

<p class="event-site-time">Türöffnung: {{ event.start_date | date: "%I:%M" }}</p>

{% endfor %}

<!--
<div class="border-wrapper">
    <ul class="nav nav-tabs" role="tablist">
        <li class="tab active" role="presentation"><a href="#upcoming" role="tab" data-toggle="tab">Bevorstehend</a></li>
        <li class="tab" role="presentation"><a href="#former" role="tab" data-toggle="tab">Vergangen</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="upcoming">

        </div>
        
        <div role="tabpanel" class="tab-pane" id="former">
            
        </div>
    </div>
</div>
-->
