<div class="dark-background">
  <footer class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <h1>Voltage Arc</h1>
        <p>Luzernerstrasse 14 / Postfach 50</p>
        <p>5712 Beinwil am See</p>
      </div>
      <div class="social col-lg-4 col-md-4 col-sm-8 col-xs-12">
        <h1>Folge uns!</h1>
        <p><a href="https://fb.me/VoltageArc">Facebook</a></p>
        <p><a href="https://www.instagram.com/voltage_arc/">Instagram</a></p>
      </div>
    </div>
  </footer>
</div>
