---
---
{% if page.url == "/engage/index.html" %}
<?php 
if(isset($_POST['submit'])){
    $to = "timon.forrer@gmail.com";
    $from = $_POST['email'];
    $first_name = $_POST['first_name'];
    $last_name = $_POST['last_name'];
    $subject = "Neuer Buchungseingang für Voltage Arc";
    $subject2 = "Kopie Ihrer Buchung von Voltage Arc";
    $message = $first_name . " " . $last_name . " schrieb folgendes:" . "\n\n" . $_POST['message'];
    $message2 = "Hier ist eine Kopie Ihrer Mail " . $first_name . "\n\n" . $_POST['message'];

    $headers = "From:" . $from;
    $headers2 = "From:" . $to;
    mail($to,$subject,$message,$headers);
    mail($from,$subject2,$message2,$headers2); // sends a copy of the message to the sender
    echo "Mail versendet. Danke Herr/Frau" . $last_name . ", wir werden Sie zeitnah kontaktieren.";
    }
?>
{% endif %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }} – Voltage Arc Website</title>
        <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat:400,700" rel="stylesheet">
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/custom.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        
        {% include navigation.html %}
        
        {{ content }}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/custom.js"></script>
        <script type="text/javascript">
        ;( function( $ ) {
            
            $( '.swipebox' ).swipebox();
            
        } )( jQuery );
        </script>
    </body>
</html>
